.badge {
  border-radius: 10px;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

#cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  background: linear-gradient(90deg, #ffcdd2, #e57373);
  position: fixed;
  z-index: 999;
}

.nav .active {
  background: #e57373;
}
